@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
}

input[type="radio"], 
input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background-color: #ff9800;
    color: white;
    border-color: #ff9800;
}

#calculate {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


/* .container {
    background: white;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #ff5722;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #e64a19;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}
 */
